        body {
          font-family: 'Inter', sans-serif;
        }

        /* Basic styling for grid items, could be done with Tailwind too */
        .grid-item {
          background-color: rgb(147 197 253);
          /* blue-300 */
          border-style: dashed;
          /* Changed to dashed */
          border-width: 1px;
          /* Changed to 1px */
          border-color: grey;
          /* Changed to grey */
          border-radius: 0.375rem;
          /* rounded-md */
          padding: 0.5rem;
          /* p-2 */
          font-size: 1.125rem;
          /* text-lg */
          font-weight: 600;
          /* font-semibold */
          display: flex;
          align-items: center;
          justify-content: center;
        }

        footer {
          margin-top: 40px;
          text-align: center;
          color: #888;
        }